<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Shoe Garden" />
    <meta name="keywords" content="footwear, shoes, modern, shop, store, ecommerce, responsive, e-commerce" />
    <meta name="author" content="codecarnival" />

    <title>Grocery Shop</title>

    {% load static %}

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500&display=swap"
        rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--== Pe7 Stroke Icon CSS ==-->
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="{% static 'assets/css/fancybox.min.css' %}" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="{% static 'assets/css/aos.min.css' %}" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
</head>

<body>

    <!--wrapper start-->
    <div class="wrapper">

        <!--== Start Header Wrapper ==-->
        <header class="main-header-wrapper position-relative">
            <div class="header-top">
                <div class="container pt--0 pb--0">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-top-align">
                                <div class="header-top-align-start">
                                    <div class="desc">
                                        <p>World Wide Completely Free Returns and Free Shipping</p>
                                    </div>
                                </div>
                                <div class="header-top-align-end">
                                    <div class="header-info-items">
                                        <div class="info-items">
                                            <ul>
                                                <li class="number"><i class="fa fa-phone"></i><a
                                                        href="tel://0123456789">+233 540 849 255</a></li>
                                                <li class="email"><i class="fa fa-envelope"></i><a
                                                        href="mailto://demo@example.com">atk.eddy@gmail.com</a></li>
                                                {% if user.is_authenticated %}
                                                <li class="account"><i class="fa fa-user"></i><a
                                                        href="{% url 'userAccount' %}">{{user.username}}</a></li>
                                                <li><a href="{% url 'logoutUser' %}"><i class="fa fa-sign-out"></i></a>
                                                </li>
                                                {% else %}
                                                <li><a href="{% url 'loginUser' %}">Login</a></li>
                                                <li><a href="{% url 'registerUser' %}">Register</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container pt--0 pb--0">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="header-middle-align">
                                <div class="header-middle-align-start">
                                    <div class="header-logo-area">
                                        <a href="{% url 'homepage' %}">
                                            <img class="logo-main" src="{% static 'assets/img/logo1.png' %}" width="131"
                                                height="34" alt="Logo" />
                                            <img class="logo-light" src="{% static 'assets/img/logo1.png' %}"
                                                width="131" height="34" alt="Logo" />
                                        </a>
                                    </div>
                                </div>
                                <div class="header-middle-align-center">
                                    <div class="header-search-area">
                                        <form class="header-searchbox">
                                            <input type="search" class="form-control" placeholder="Search">
                                            <button class="btn-submit" type="submit"><i
                                                    class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="header-middle-align-end">
                                    <div class="header-action-area">
                                        <div class="shopping-search">
                                            <button class="shopping-search-btn" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#AsideOffcanvasSearch"
                                                aria-controls="AsideOffcanvasSearch"><i
                                                    class="pe-7s-search icon"></i></button>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <div class="shopping-wishlist">
                                            <a class="shopping-wishlist-btn" href="{% url 'wishlist' %}">
                                                <i class="pe-7s-like icon"></i>
                                            </a>
                                        </div>
                                        <div class="shopping-cart">
                                            <a class="shopping-cart-btn" href="{% url 'cart_detail' %}">
                                                <i class="pe-7s-shopbag icon"></i>
                                                <sup class="shop-count">{{request.session.cart|length}}</sup>
                                            </a>
                                        </div>
                                        {% endif %}
                                        <button class="btn-menu" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                                            <i class="pe-7s-menu"></i>
                                        </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-area header-default">
                <div class="container">
                    <div class="row no-gutter align-items-center position-relative">
                        <div class="col-12">
                            <div class="header-align">
                                <div class="header-navigation-area position-relative">
                                    <ul class="main-menu nav">
                                        <li><a href="{%  url 'homepage' %}"><span>Home</span></a>
                                        </li>
                                        <li><a href="{% url 'about' %}"><span>About</span></a></li>
                                        <li><a href="{% url 'shop' %}"><span>Shop</span></a>
                                        </li>
                                        <li><a href="{% url 'blog' %}"><span>Blog</span></a>
                                        </li>
                                        <li><a href="{% url 'contact' %}"><span>Contact</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--== End Header Wrapper ==-->
        <!-- MAIN CONTENT  START-->
        {% block content %}

        {% endblock %}
        <!-- MAIN CONTENT END-->

        <!--== Start Footer Area Wrapper ==-->
        <footer class="footer-area">
            <!--== Start Footer Main ==-->
            <div class="footer-main">
                <div class="container pt--0 pb--0">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <div class="about-widget-wrap">
                                    <div class="widget-logo-area">
                                        <a href="index.html">
                                            <img class="logo-main" src="{% static 'assets/img/logo1.png' %}"
                                                width="131" height="34" alt="Logo" />
                                        </a>
                                    </div>
                                    <p class="desc"> O-Mart is Ghana's most trusted and leading online grocery
                                        platform
                                        for individuals who wish to get the best out of the numerous goods in market.
                                    </p>
                                    <div class="social-icons">
                                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="https://dribbble.com/" target="_blank" rel="noopener"><i
                                                class="fa fa-dribbble"></i></a>
                                        <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i
                                                class="fa fa-pinterest-p"></i></a>
                                        <a href="https://twitter.com/" target="_blank" rel="noopener"><i
                                                class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--== Start widget Item ==-->
                            <div class="widget-item widget-services-item">
                                <h4 class="widget-title">Services</h4>
                                <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-1">Services</h4>
                                <div id="widgetId-1" class="collapse widget-collapse-body">
                                    <div class="collapse-body">
                                        <div class="widget-menu-wrap">
                                            <ul class="nav-menu">
                                                <li><a href="{% url 'contact' %}">Chat with us</a></li>
                                                <li><a href="{% url 'contact' %}">Shipping Rates</a></li>
                                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                <li><a href="{% url 'contact' %}">Return Policy</a></li>
                                                <li><a href="{% url 'faq' %}">Frequently Asked Questions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--== Start widget Item ==-->
                            <div class="widget-item widget-account-item">
                                <h4 class="widget-title">My Account</h4>
                                <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-2">My Account</h4>
                                <div id="widgetId-2" class="collapse widget-collapse-body">
                                    <div class="collapse-body">
                                        <div class="widget-menu-wrap">
                                            <ul class="nav-menu">
                                                <li><a href="{% url 'loginUser' %}">My Account</a></li>
                                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                                <li><a href="{% url 'cart_detail' %}">Shopping cart</a></li>
                                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                                <li><a href="{% url 'loginUser' %}">Services Login</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <h4 class="widget-title">Contact Info</h4>
                                <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#widgetId-3">Contact Info</h4>
                                <div id="widgetId-3" class="collapse widget-collapse-body">
                                    <div class="collapse-body">
                                        <!-- block footer -->
                                        <div class="widget-contact-wrap">
                                            <ul>
                                                <li><span>Address:</span> UG - Legon Main Hall</li>
                                                <li><span>Phone:</span> <a href="tel://+233376490600">+233 540 849 255</a>
                                                </li>
                                                <li><span>Email:</span> <a
                                                        href="mailto://demo@example.com">atk.eddy@gmailcom</a></li>
                                                <li><a target="_blank"
                                                        href="https://omart.herokuapp.com/">omart.com</a></li>
                                            </ul>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Footer Main ==-->

            <!--== Start Footer Bottom ==-->
            <div class="footer-bottom">
                <div class="container pt--0 pb--0">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <p class="copyright">© {% now 'Y' %} O_mart. Made with <i class="fa fa-heart"></i> by <a
                                    target="_blank"
                                    href="https://themeforest.net/user/codecarnival/portfolio">Ed.</a></p>
                        </div>
                        <div class="col-md-5 col-lg-6">
                            <div class="payment">
                                <a href="{% url 'loginUser' %}"><img
                                        src="{% static 'assets/img/photos/payment-card.webp' %}" width="192" height="21"
                                        alt="Payment Logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Footer Bottom ==-->
        </footer>
        <!--== End Footer Area Wrapper ==-->

        <!--== Scroll Top Button ==-->
        <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

        <!--== Start Aside Search Menu ==-->
        <aside class="aside-search-box-wrapper offcanvas offcanvas-top" tabindex="-1" id="AsideOffcanvasSearch"
            aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <h5 class="d-none" id="offcanvasTopLabel">Aside Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i
                        class="pe-7s-close"></i></button>
            </div>
            <div class="offcanvas-body">
                <div class="container pt--0 pb--0">
                    <div class="search-box-form-wrap">
                        <div class="search-note">
                            <p>Start typing and press Enter to search</p>
                        </div>
                        <form action="#" method="post">
                            <div class="search-form position-relative">
                                <label for="search-input" class="visually-hidden">Search</label>
                                <input id="search-input" type="search" class="form-control"
                                    placeholder="Search entire store…">
                                <button class="search-button"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
        <!--== End Aside Search Menu ==-->

        <!--== Start Side Menu ==-->
        <div class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h1 id="offcanvasExampleLabel"></h1>
                <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i
                        class="fa fa-chevron-left"></i></button>
            </div>
            <div class="offcanvas-body">
                <div class="info-items">
                    <ul>
                        <li class="number"><a href="tel://0123456789"><i class="fa fa-phone"></i>+233 540 849 255</a>
                        </li>
                        <li class="email"><a href="mailto://demo@example.com"><i
                                    class="fa fa-envelope"></i>atk.eddy@gmail.com</a></li>
                        {% if user.is_authenticated %}
                        <li class="account"><a href="{% url 'userAccount' %}"><i
                                    class="fa fa-user"></i>{{user.username}}</a></li>
                        {% else %}
                        <li class="account"><a href="{% url 'loginUser' %}"><i class="fa fa-user"></i>Account</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Mobile Menu Start -->
                <div class="mobile-menu-items">
                    <ul class="nav-menu">
                        <li><a href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a>
                        </li>
                        <li><a href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>

                    </ul>
                    <div class="header-top-align-end">
                        <div class="header-info-items">
                            <div class="info-items">
                                <ul>
                                    <li class="number"><i class="fa fa-phone"></i><a href="tel://0123456789">+233 540 849 255</a></li>
                                    <li class="email"><i class="fa fa-envelope"></i><a
                                            href="mailto://demo@example.com">atk.eddy@gmail.com</a></li>
                                    {% if user.is_authenticated %}
                                    <li class="account"><i class="fa fa-user"></i><a
                                            href="{% url 'userAccount' %}">{{user.username}}</a></li>
                                    {% else %}
                                    <li class="account"><i class="fa fa-login"></i><a
                                            href="{% url 'loginUser' %}">Login</a></li>
                                    <li class="account"><i class="fa fa-login"></i><a
                                            href="{% url 'registerUser' %}">Register</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu End -->
            </div>
        </div>
        <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->

    <!--=== jQuery Modernizr Min Js ===-->
    <script src="{% static 'assets/js/modernizr.js' %}"></script>
    <!--=== jQuery Min Js ===-->
    <script src="{% static 'assets/js/jquery-main.js' %}"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="{% static 'assets/js/jquery-migrate.js' %}"></script>
    <!--=== jQuery Popper Min Js ===-->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!--=== jQuery Bootstrap Min Js ===-->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!--=== jQuery Ui Min Js ===-->
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <!--=== jQuery Swiper Min Js ===-->
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <!--=== jQuery Fancybox Min Js ===-->
    <script src="{% static 'assets/js/fancybox.min.js' %}"></script>
    <!--=== jQuery Waypoint Js ===-->
    <script src="{% static 'assets/js/waypoint.js' %}"></script>
    <!--=== jQuery Parallax Min Js ===-->
    <script src="{% static 'assets/js/parallax.min.js' %}"></script>
    <!--=== jQuery Aos Min Js ===-->
    <script src="{% static 'assets/js/aos.min.js' %}"></script>

    <!--=== jQuery Custom Js ===-->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>