{% extends 'base/payment_trial.html' %}

{% block content %}
<div class="container">
    <div class="d-flex row justify-content-center-align-items py-md-5 py-3">
        <div class="col-12">
            <h4>Make Payment for: GH {{ payment.amount }}</h4>
            <hr>
            <script src="https://js.paystack.co/v1/inline.js"></script>
                <button class="btn btn-small btn-success" type="submit" id="django-paystack-btn"
                    onclick="payWithPayStack()">Make Payment</button>
        </div>
    </div>
</div>


<script>
    function payWithPayStack() {
        let currency = "GHS";
        let plan = "";
        let ref = "{{payment.ref}}";
        let obj = {
            key: "{{paystack_public_key}}",
            email: "{{payment.email}}",
            amount: "{{payment.amount_value}}",
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify_payment' payment.ref %}";
            }
        }
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase();
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock content %}