.containerCover{
    margin: 20px;
}
.subcontainer{
    margin-top: 100px;
}
.subcontainer_dashboard{
    margin-top: 30px;
}

.tablespace{
    margin-top: 50px;
}
#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}