

{% extends 'base/basefile.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
 <html>
    <head>
      <title>Orders</title>
      <meta charset="utf-8">

      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style_primary.css' %}" media="screen" />
      <script src="https://kit.fontawesome.com/31b065866d.js" crossorigin="anonymous"></script> 
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>

    </head>

    <body>
      <div class="containerCover">
        <div class="row">
            <h2>Orders Page</h2>
        </div>

        
        <div class="subcontainer_dashboard bg-light">
            <div class="row">
              <div class="vr bg-warning col" style="height: 70px;width: 5px; margin-bottom: 5px;"></div>
              <div class="col">This is the order page select various products from the search bar</div>
            </div>
        </div>
        
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

          <thead>
            <tr>
              <th class="th-sm">Ordered by</th>
              <th class="th-sm">First Name</th>
              <th class="th-sm">Last Name</th>
              <th class="th-sm">Country</th>
              <th class="th-sm">Region</th>
              <th class="th-sm">Town</th>
              <th class="th-sm">Status</th>
              <th class="th-sm">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
              <tr>
                <td>{{order.user}}</td>
                <td>{{order.first_name}}</td>
                <td>{{order.last_name}}</td>
                <td>{{order.country}}</td>
                <td>{{order.region}}</td>
                <td>{{order.town}}</td>
                <td>{{order.status}}</td>
                <td>
                    
                    {% comment %} <a href="{% url 'order_details' order.id %}">view details<a/> {% endcomment %}
                  <a href="{% url 'order-details' %}">view details<a/> 
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th class="th-sm">Name
        
              </th>
              <th class="th-sm">Category
        
              </th>
              <th class="th-sm">Price
        
              </th>
              <th class="th-sm">Discount Price
        
              </th>
              <th class="th-sm">Status
        
              </th>
              <th class="th-sm">Number in Stock
        
              </th>
            </tr>
          </tfoot>
        </table>

        <script>
          {% comment %} $(document).ready(function(){
              $('#bootsrapdatatable').DataTable({
                  "aLengthMenu": [[3,5,10,25, -1], [3,5,10,25, "All"]],
                  "iDisplayLength": 3
              }
              );
          });
          {% endcomment %}
          $(document).ready(function () {
              $('#dtBasicExample').DataTable({
              "paging": true // false to disable pagination (or any other option)
              });
              $('.dataTables_length').addClass('bs-select');
          });
        </script>
      </div>
    </body>
 </html>

 {% endblock content %}