{% extends 'base/basefile.html' %}
{% load static %}
{% block content %}
 
 <!DOCTYPE html>
 <html>
     <head>
        <title>Product</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style_products_add_products.css' %}" media="screen" />
     </head>
     <body>
        <div class="row">

            <h2>Products</h2>
            <a href="{% url 'product_add' %}" class="active">
                <button class="button">Add Product</button>
            </a>
        </div>
        <div class="row">
            <div><span>All(Total Products)</span> <span class="space">Published(Total Published)</span></div>
        </div>
        <div class="row">
            <div>
                <select class="select">
                    <option >Bulk Add</option>
                    <option >Delete</option>>
                </select>
                <button class="button1">Apply</button>
                <select class="select">
                    <option>Categories</option>
                </select>
                <select class="select">
                    <option>Filter by Product type</option>
                </select>
                <select class="select">
                    <option>Filter by Stock Status</option>
                </select>
                <button class="button1">Filter</button>
            </div>
        </div>
        
        <table>
            <tr>
              <th>Name</th>
              <th>Stock</th>
              <th>Price</th>
              <th>Categories</th>
              <th>Tags</th>
            </tr>
            <tr>
              <td><input type="checkbox">Avocado</td>
              <td>Out Of Stock</td>
              <td>20 GHC</td>
              <td>Fruits</td>
              <td>12#</td>
            </tr>
            <tr>
              <td><input type="checkbox">Mango</td>
              <td>In stock</td>
              <td>10 GHC</td>
              <td>Fruits</td>
              <td>15#</td>
            </tr>
        </table>
          
     </body>
 </html>
 {% endblock content %}